<div class="content">
    <div class="titles">
        <h1>Characters</h1>
    </div>
    <hr class="hr-titles">

    <div >
        <div>
            <div  *ngFor="let character of allCharacters" style="float:left">
                <div class="card" style="width: 18rem;">
                    <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top" alt="{{character.name}}">
                    <div class="card-body">
                      <h5 class="card-title">{{character.name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>