<div class="content">
  <div class="titles">
    <h1>Characters</h1>
  </div>
  <hr class="hr-titles">

  <app-search (search)="handleSearch($event)"></app-search>

  <nav class="navbar navbar-light alphabet">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-dark" (click)="getSearchCharacters('A')"> A </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('B')"> B </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('C')"> C </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('D')"> D </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('E')"> E </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('F')"> F </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('G')"> G </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('H')"> H </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('I')"> I </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('J')"> J </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('K')"> K </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('L')"> L </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('M')"> M </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('N')"> N </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('O')"> O </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('P')"> P </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('Q')"> Q </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('R')"> R </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('S')"> S </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('T')"> T </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('U')"> U </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('V')"> V </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('W')"> W </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('X')"> X </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('Y')"> Y </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('Z')"> Z </button>
    </form>
  </nav>

  <div class="container">
    <div class="row">
      <div  *ngFor="let character of allCharacters | search:value_filter" class="card-marvel col-md-4">
        <div class="card">
          <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top" alt="{{character.name}}">
          <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Appearances in comics: {{character.comics.available}}</li>
            <li class="list-group-item">Appearances in series: {{character.series.available}}</li>
          </ul>
          <div class="card-body">
      <!--     <a href="#characterModal" (click)="goToDetails(character.id)" role="button" class="btn btn-danger button-card" data-toggle="modal">Details</a>
            <div id="characterModal" class="modal fade">
              <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">{{characterDitails.name}}</h4> 
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          
                      </div>
                      <div class="modal-body">
                          <p>¿Seguro que quieres borrar este elemento?</p>
                          <p class="text-warning"><small>Si lo borras, nunca podrás recuperarlo.</small></p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                      </div>
                  </div>
              </div>
          </div>
        -->
          </div>
        </div>
      </div>
    </div>
  </div>    

</div>