<div class="content">
  <div class="titles">
    <h1>Characters</h1>
  </div>
  <hr class="hr-titles">

  <app-search (search)="handleSearch($event)"></app-search>

  <nav class="navbar navbar-light alphabet">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-dark" (click)="getSearchCharacters('A')"> A </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('B')"> B </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('C')"> C </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('D')"> D </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('E')"> E </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('F')"> F </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('G')"> G </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('H')"> H </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('I')"> I </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('J')"> J </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('K')"> K </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('L')"> L </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('M')"> M </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('N')"> N </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('O')"> O </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('P')"> P </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('Q')"> Q </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('R')"> R </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('S')"> S </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('T')"> T </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('U')"> U </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('V')"> V </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('W')"> W </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('X')"> X </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('Y')"> Y </button>
      <button class="btn btn-dark" (click)="getSearchCharacters('Z')"> Z </button>
    </form>
  </nav>

  <div class="container">
    <div class="row">
      <div *ngFor="let character of allCharacters | search:value_filter" class="card-marvel col-md-4">
        <div class="card">
          <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top"
            alt="{{character.name}}">
          <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Appearances in comics: {{character.comics.available}}</li>
            <li class="list-group-item">Appearances in series: {{character.series.available}}</li>
          </ul>
          <div class="card-body">
            <button (click)="open(characterModal)" role="button" class="btn btn-danger button-card">Details</button>
  
  
            <ng-template #characterModal let-modal>
  
              <div class="modal-header">
  
                <h4 class="modal-title" id="modal-basic-title">{{character.name}}</h4>
  
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  
                  <span aria-hidden="true">×</span>
  
                </button>
  
              </div>
  
              <div class="modal-body">
  
  
                <div class="card mb-3 card-modal">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img class="img-card-modal" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                        alt="{{character.name}}">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body body-card-modal">
                        <h5 class="card-title">{{character.name}}</h5>
                        <p *ngIf="character.description != ''; else notAvailable"><strong>Description:</strong>
                          {{character.description}}</p>
                        <ng-template #notAvailable><strong>Description:</strong> Description is not available
                        </ng-template>
                        <!--                    <app-char-details [comics]="character.comics.items"></app-char-details>-->
                        <h6 class="appearence"><strong>Appearances in comics</strong></h6>
                        <div class="row row-modal">
                          <div *ngIf="character.comics.available !=0; else comicMessage ">
                            <div *ngFor="let comic of character.comics.items" class="card-marvel col-md-4">
                              <ul>
                                <li>{{comic.name}}</li>
                              </ul>
                            </div>
                          </div>
                          <ng-template #comicMessage>The character does not appear in any comic</ng-template>
                        </div>
                        <h6 class="appearence"><strong>Appearances in series</strong></h6>
                        <div class="row row-modal">
                          <div *ngIf="character.series.available != 0; else seriesMessage">
                            <div *ngFor="let serie of character.series.items" class="card-marvel col-md-4">
                              <ul>
                                <li>{{serie.name}}</li>
                              </ul>
                            </div>
                          </div>
                          <ng-template #seriesMessage>The character does not appear in any series</ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
  
  
  
  
              <div class="modal-footer">
  
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  
              </div>
  
            </ng-template>
  
          </div>
        </div>
      </div>
    </div>
  </div>

</div>