<div class="content">
    <div id="content-home">

        <!--Start ASIDE-->
        <aside id="aside">
            <div class="widget" id="login">
                <h3>Links of interest</h3>
                <ul>
                    <li>
                        <a [routerLink]="'/characters'">
                            Characters
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/comics'">
                            Comics
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/creators'">
                            Creators
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/series'">
                            Series
                        </a>
                    </li>
                </ul>
            
            </div>
        </aside>

        
        <!--End Aside-->

        <!--Start  SECTIONS-->
        <div id="sections">
            <section id="frontend">
                <span class="stickers">
                    <img class="stickerOne" src="assets/img/scotch.png" alt="Calcomania">
                    <img class="stickerTwo" src="assets/img/scotch.png" alt="Calcomania">
                </span>
                <h2 class="titulo">Comics news</h2>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>

            </section>

            <section id="backend">
                <span class="stickers">
                    <img class="stickerOne" src="assets/img/scotch.png" alt="Calcomania">
                    <img class="stickerTwo" src="assets/img/scotch.png" alt="Calcomania">
                </span>
                <h2 class="titulo red">Series News</h2>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>
                <article class="article">
                    
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>
                <article class="article">
                    <p>
                        <a href="#">Article title</a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto ullam aspernatur debitis corrupti quasi totam maiores natus. Porro doloremque accusamus recusandae sint obcaecati numquam voluptatum cum asperiores repellat aliquid!
                    </p>
                    <span class="date">[20-12-20. Honi Rodriguez]</span>
                </article>

            </section>

        </div>
        <!--End SECTIONS-->

        <aside id="frase">
            <p>“I get emails from a raccoon, so nothing sounds crazy.” <br>- Natasha Romanoff</p>
            <a href="#">Read more sentence</a>
        </aside>

        <div class="clearfix"></div>
        <div id="history">
            <a href="#">[View news history]</a>
        </div>
    </div>
    <!--Ene Conten-home -->
</div>    
