/* GENERAL */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clearfix{
    clear:both;
    float:none;
}

/* MENU */
.logo {
    width: 30%;
    font-size: 30px;
    float: left;
 
}

.logo-img {
    display: block;
    float: left;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
    margin-right: 20px;
    
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #ee171f;
}